@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Nunito:wght@200&family=Quicksand:wght@300;500&display=swap');

 body{
    font-family: 'Nunito', sans-serif;
 }
 /*screen size*/
.container{
    width:720px;
    height:1080px;
    background-color: black;
    margin: 0 auto;
    color:white;

}
.container-box{
    margin:0 auto;
    padding:22px;
    margin-left: 30px;
    margin-right: 30px;



}
.inner-container{
    padding:12px;
    margin: 0;
}
.status{
    display:flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    width:100%;
    padding:0px;
    
    
}
.tasks{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-right:30px ;
    margin-left: 30px;
    width:150px;
    height:150px;
    position: relative;
}
.tasks {
   
    text-align: center;
    color:white;
    margin-bottom: 18px;
    font-weight:lighter;
    font-size:0.9rem;

}
/*task circles*/
.status-number{
    position: absolute;
    bottom:0;
    margin-top: 12px;
    border-radius: 50%;
    border: 2px purple solid;
    width:100px;
    height: 100px;
   
    /*alighn text center*/

    display:flex;
    justify-content: center;
    align-items: center;
    

}
hr{
    color: grey;
    margin-top: 20px;
    
}
.field{
    padding:12px 20px;
    margin: 8px 0;
    width: 100%;
    outline:0;
    border: none;
    border-bottom: 2px solid grey;
    box-sizing: border-box;
}
.field:focus{
    border-bottom: purple 1px solid;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }
.btn-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 button{
     margin-top: 12px;
     padding:6px 20px;
     width:80px;
     margin: 8px;
     color:white;
     background-color:purple;
     border: none;
     border-radius:4px;
     text-align: center;
 }
