@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Nunito:wght@200&family=Quicksand:wght@300;500&display=swap');

 body{
    font-family: 'Nunito', sans-serif;
 }
 /*screen size*/
.container{
    width:428px;
    height:926px;
    background-color: black;
    margin: 0 auto;
    color:white;
    

}
.container-box{
    margin:0 auto;
    padding:16px;
    margin-left: 15px;
    margin-right: 15px;



}
.inner-container{
    padding:12px;
    margin: 0;
}
header{
    width:100%;
    height:15%;
    background-color:purple;
    border-bottom-left-radius: 100% 200%;
    border-bottom-right-radius: 100% 200%;
    padding-top: 40px;
    border-bottom: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display:flex;
    justify-content: center;
    position: relative;
 
}
.profile-picture{
    width: 95px;
    height:95px ;
    border-radius: 50%;
    position: absolute;
    top:60%;
    border: 1px solid rgba(255, 255, 255, 0.568);
    background-color: rgba(240, 248, 255, 0);
    background-image: url(/assets/images/three.jpg);
    background-size:contain;
}
nav{
    position:absolute;
   top:10%;
    display:grid;
    grid-template-columns:1.4fr 2fr 1.4fr;

    width:85%;
    height:60px;
    
}

nav h3{
    font-size:25px;
    color:rgb(255, 255, 255);
    font-weight: 700;
}
.back{

margin: 12px;
}
.settings{
    margin: 12px;
    
}
.upload{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.upload-profile{
    margin:8px;
}
.upload button{
    background-color: rgba(240, 248, 255, 0);
    margin-left: 6px;
    margin-right: 6px;
    width: 30px;
    height: 30px;
}
button:hover {
transform: scale(1.2);
background-color: rgba(255, 255, 255, 0) !important;
}
.status{
    display:flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    width:100%;
    padding:0px;
    margin-bottom:0;
}
.tasks{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-right:6px;
    margin-left: 6px;
    width:300px;
    height:85px;
    position: relative;
    text-align: center;
    color:white;
    margin-bottom: 12px;   
}
.tasks h3{
    margin-top: 0;
    font-weight:lighter;
    font-size:10px;
    text-align: center;
}

/*task circles*/
.status-number{
    position: absolute;
    bottom:0;
    margin-top: 0;
    border-radius: 50%;
    border: 2px purple solid;
    width:60px;
    height: 60px;   
    /*alighn text center*/
    text-align: center;

  
    
    /*
    justify-content: center;
    align-items: center;
    */

}
/*alighn text center*/
.status-number h3{
    position: relative;
    top: 50%;

    transform: translateY(-50%);
    font-weight: 600;
    font-size: 12px;
}



/*horizontal lines style*/
hr{
    
    margin-top: 0;
    border: none;
    border-bottom: solid rgba(196, 195, 195, 0.616) 1px;
    
}

/*forms styling*/
.field{
    padding:12px 20px;
    margin: 8px 0;
    width: 100%;
    outline:0;
    border: none;
    border-bottom: 2px solid grey;
    box-sizing: border-box;
}
.field:focus{
    border-bottom: purple 1px solid;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }
.btn-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*overall buttons styling*/
 button{
     margin-top: 12px;
     padding:6px 0px;
     width:80px;
     margin: 8px;
     color:white;
     background-color:purple;
     border: none;
     border-radius:4px;
     text-align: center;
     font-weight: 600;
 }

 button:hover{
     background-color:rgb(155, 20, 155)
 }
 button[type=reset]{
    padding:6px 0px;
     background-color:black;
     border: 1px solid purple;
     text-align: center;
 } 
 button[type=reset]:hover{
     background-color:rgb(57, 57, 57);
 }

 /*teams section styling*/
 .teams{
     
 }
 .team-parent{
     
     display: grid;
     grid-template-columns: auto auto auto;
     height: 190px;
     padding-top: 12px;
 }
 .member-card{
     
     padding: 12px;
     text-align: center;
 }
 .member-card h3{
    margin-top: 0;
    font-weight: 200;
 }
.team-image{
    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
}
/*add members images*/
/*first member*/ 
#first-member{
    background-image: url(/assets/images/one.jpg);
    background-size: cover;
}
/*second member*/
#second-member {
    background-image: url(/assets/images/two.png);
    background-size: cover;
}
/*third-members*/
#third-member {
    background-image: url(/assets/images/three.jpg);
    background-size: cover;
}

/*footer styling*/
footer{
    display: inline-block;
    
    width: 100%;
    height: 90px;
}
/*logout button*/
footer button{
    float: right;
    margin-top: 32px;
    background-color: rgba(240, 248, 255, 0);
    

}
footer .slogan{
    display: inline-block;
}
footer .slogan span{
    margin-bottom: 0;
    color: rgb(255, 255, 255);
}
footer .slogan h2{
    margin-top: 10px;
}

