@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
 body{
    font-family: 'Quicksand', sans-serif;
 }
.container{
    width:720px;
    height:1080px;
    margin: 0;

}
.container-box{
    margin:0 auto;
    padding:22px;


}
.inner-container{
    padding:12px;
    margin: 0;
}
